# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules
dist
dist-ssr
*.local
.nuxt
.output
.vscode
# Logs
logs
*.log

# Misc
.DS_Store

# Local env files
.env
.env.*
!.env.example


